<form>
  <div class="form-group">
    <strong>
      <label for="rarityFilter">Filter by rarity:</label>
    </strong>
    <select class="form-control" id="rarityFilter" onchange={{action (mut value) value="target.value"}}>
      <option value="" selected={{eq value ""}}>All</option>
      <option value="common" selected={{eq value "common"}}>Commmon</option>
      <option value="uncommon" selected={{eq value "uncommon"}}>Uncommon</option>
      <option value="rare" selected={{eq value "rare"}}>Rare</option>
      <option value="mythic" selected={{eq value "mythic"}}>Mythic rare</option>
    </select>
  </div>

  <div class="form-group">
    <strong>
      <label for="nameFilter">Filter by name:</label>
    </strong>
    <input type="text" class="form-control" id="nameFilter" placeholder="Ex: Überfluss"
      onkeyup={{action (mut name) value="target.value"}}>
  </div>
</form>

{{yield this.results}}

{{!-- 
  Documentation sur les helpers:
    - https://guides.emberjs.com/release/templates/input-helpers/
    - https://www.balinterdi.com/blog/how-to-do-a-select-dropdown-in-ember-20/
 --}}