<div class="card border-secondary mb-3">
  {{#link-to "cards.show" card class="btn"}}
  <img src="{{card.imageUrl}}" alt="{{card.name}}">
  {{/link-to}}
  <div class="card-body">
    <h5 class="card-title">{{card.name}}</h5>
    <p class="card-text">{{card.text}}</p>
    <p class="card-text">
     <strong>Rarity: {{card.rarity}}</strong>
    </p>
    {{#link-to "cards.show" card class="btn btn-info"}}
    More details
    {{/link-to}}
  </div>
</div>