{{!-- <CardFilter @value="value"> --}}
{{#card-filter value=rarity name=name}}
{{/card-filter}}

<div class="row">

  <!-- Classic curly bracket style -->
  {{#each filteredCards as |carte|}}

  {{card card=carte}}

  <!-- Angle Bracket Syntax
    <Card @card={{carte}} />
  -->
  {{/each}}
</div>

{{outlet}}