<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{{this.model.imageUrl}}" alt="{{this.model.name}}">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{this.model.name}}</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This content is a little bit longer.</p>
        {{#if this.model.names}}
        <p class="card-text">
          <strong>Names:</strong> {{#each this.model.names as |name|}} {{name}}, {{/each}}
        </p>
        {{/if}}

        <p class="card-text">
          <strong>Names:</strong> {{this.model.type}}
        </p>

        {{#if this.model.types}}
        <p class="card-text">
          <strong>Types:</strong> {{#each this.model.types as |type|}} {{type}}, {{/each}}
        </p>
        {{/if}}

        {{#if this.model.supertypes}}
        <p class="card-text">
          <strong>Supertypes:</strong> {{#each this.model.supertypes as |supertype|}} {{supertype}}, {{/each}}
        </p>
        {{/if}}

        {{#if this.model.subtypes}}
        <p class="card-text">
          <strong>Subtypes:</strong> {{#each this.model.subtypes as |subtype|}} {{subtype}}, {{/each}}
        </p>
        {{/if}}

        {{#if this.model.colors}}
        <p class="card-text">
          <strong>Colors:</strong> {{#each this.model.colors as |color|}} {{color}}, {{/each}}
        </p>
        {{/if}}

        <p class="card-text">
          <strong>Rarity:</strong> {{this.model.rarity}}
        </p>

        <p class="card-text">
          <strong>Layout:</strong> {{this.model.layout}}
        </p>

        {{#if this.model.rulings}}
        <p class="card-text">
          <strong>Rulings:</strong>
          {{#each this.model.rulings as |rule|}}
          <blockquote class="blockquote">
            {{rule.text}}
            <small>Date: {{rule.date}}</small>
          </blockquote>
          {{/each}}
        </p>
        {{/if}}

        <div class="card-footer">
          <p class="card-text"><small class="text-muted">Artist: {{this.model.artist}}</small></p>
        </div>
      </div>
    </div>
  </div>
</div>

{{#link-to "cards"}}
<button type="button" class="btn btn-light">Back</button>
{{/link-to}}
{{outlet}}