<BsNavbar @position="fixed-top" @type="dark" @backgroundColor="dark" @collapsed={{true}}
  @onCollapse={{action (mut collapsed) true}} @onExpand={{action (mut collapsed) false}} as |navbar|>
  <div class="navbar-header">
    {{navbar.toggle}}
    {{#link-to "index" class="navbar-brand"}}
    <img src="/assets/favicon.ico" width="30" height="30" class="d-inline-block align-top"
      alt="">
    Magic - The Gathering
    {{/link-to}}
  </div>
  <navbar.content>
    <navbar.nav as |nav|>

    </navbar.nav>
  </navbar.content>
</BsNavbar>

<div class="body">
  <div class="container">
    {{outlet}}
  </div>
</div>