{{!-- 
About loading and error substates: 
https://guides.emberjs.com/release/routing/loading-and-error-substates/
--}}
<div class="container">
  <h4>Magic</h4>
  <div class="progress">
    <div class="progress-bar progress-bar-striped bg-info progress-bar-animated" role="progressbar" aria-valuenow="100"
      aria-valuemin="0" aria-valuemax="100" style="width: 100%">Loading ...</div>
  </div>
  <img alt="" data-upload-width="1200"
    src="https://cdn.vox-cdn.com/thumbor/Xg73Wmss7ayeQrmFCpwxB9EAvz4=/0x39:1200x839/1200x800/filters:focal(0x39:1200x839)/cdn.vox-cdn.com/uploads/chorus_image/image/39081106/Bearer-of-the-Heavens-MtG-Art.0.0.jpg"
    width="1080" height="720">
</div>